<%- include('layouts/header') -%>
    <section id="hero-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h1>Tempat Impian Para Pecinta Ikan Hias</h1>
                    <p>Temukan Ikan hias Yang Anda Inginkan disini.</p>
                    <a href="#" class="btn btn-outline-light">Explore</a>
                </div>

                <div class="col-md-6 col-lg-6">
                   <img src="images/img-hero.png" alt="image hero">
                </div>
            </div>
        </div>
    </section>
    
    <section id="services">
        <div class="title">
            <h1>Keunggulan Produk Kami</h1>
            <p>Mengapa harus memilih produk kami?. Keunggulan-keunggulan dari produk kami itu dapat terlihat dibawah</p>
        </div>
        <div class="row pt-4">
            <div class="col-md-4 col-lg4 item-service">
                <img src="images/dollar.png" alt="dollar">
                <h2>Harga terjangkau</h2>
                <p>Harga ikan hias yang ditawarkan terjangkau</p>
            </div>

            <div class="col-md-4 col-lg4 item-service">
                <img src="images/quality.png" alt="dollar">
                <h2>Harga terjangkau</h2>
                <p>Harga ikan hias yang ditawarkan terjangkau</p>
            </div>

            <div class="col-md-4 col-lg4 item-service">
                <img src="images/customer-service.png" alt="dollar">
                <h2>Harga terjangkau</h2>
                <p>Harga ikan hias yang ditawarkan terjangkau</p>
            </div>
        </div>
    </section>
<%- include('layouts/footer') -%>