<%- include('layouts/header') -%>
    <section id="hero-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h1>Tempat Impian Para Pecinta Ikan Hias</h1>
                    <p>Temukan Ikan hias Yang Anda Inginkan disini.</p>
                    <a href="#" class="btn btn-outline-light">Explore</a>
                </div>

                <div class="col-md-6 col-lg-6">
                   <img src="images/img-hero.png" alt="image hero">
                </div>
            </div>
        </div>
    </section>
    
<%- include('layouts/footer') -%>