<%- include('layouts/header') -%>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="image/cupang.jpg" class="img-fluid" alt="" width="" height="300">
            </div>
        </div>
    </div>

    <%- include('layouts/footer') -%>