* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


.navbar {
    background-color: white !important;
}


.btn-sign-up {
    background-color: #5352ED;
}

.btn-sign-up:hover {
    /* background-color: #4141c4; */
    background-color: red !important;
}

.nav-link {
    color: black !important;
    font-weight: bold;
}


.nav-link :active {
    color: blue !important;
    font-weight: bold;
}

#hero-section {
    background-color: #FF2442;
    color: white;
    padding: 0 100px;
}


/* section services */

#services {
    text-align: center;
    padding-top: 50px;
    line-height: 50px;
}

h2 {
    margin-top: 10px;
}
.item-service {
    line-height: 30px;
}

/* end of section services */