:root {
    --primary-color: #5352ED;
    --primary-color-80 : #7574F0;
    --primary-color-60 : #9797F4;
    --primary-color-30 : #CBCBF9;
    --primary-color-10 : #EDEDFD;
    --secondary-color: #FF2442;
    --secondary-color-80: #FF4F67;
    --secondary-color-60: #FF7B8D;
    --secondary-color-30: #FFBDC6;
    --secondary-color-10: #FFE9EC;
    --text-hitam: #000000;
    --text-putih: #FFFFFF;
    --text-abu: #DFE4EA;
    --text-hitam-opacity: ##323232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


.navbar {
    background-color: white !important;
}


.btn-sign-up {
    background-color: var(--primary-color);
}

.btn-sign-up:hover {
    background-color: #4141c4;
}

.nav-link {
    color: var(--text-hitam);
    font-weight: 600;
}

.nav-link:hover {
    color: var(--primary-color)
}

a.nav-link .active {
    color: var(--primary-color) !important;
}

#hero-section {
    background-color: #FF2442;
    color: white;
    padding: 0 100px;
}

/* hero section */

#hero-section {
    height: 100vh;
}

/* end of hero section */


/* section services */

#services {
    text-align: center;
    padding-top: 50px;
    line-height: 50px;
}

h2 {
    margin-top: 10px;
}
.item-service {
    line-height: 30px;
}

/* end of section services */

/* section best seller */

#best-seller-section {
    text-align: center;
}

/* end of section best seller */

/* footer section */

#footer-section {
    height: 300px;
    width: 100%;
    background-color: #111111;
    margin-top: 100px;
    color: white;
    padding: 65px 0;
    box-sizing: border-box;
}

#footer-section .logo-copyright {
    margin-top: 30px;
}

#footer-section .logo-copyright p{
    margin-top: 10px;
}

.footer-item a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 4px 0;
}
/* end of footer section */

/* section review produk */

#review-produk{
    text-align: center;
    margin-top: 100px;
}

#review-produk .item-service p{
    margin-top: 5px;
    text-align: left;
}

#review-produk .item-service {
    box-shadow: 6px 6px 10px rgb(221, 216, 216);
    /* box-shadow: -6px -6px 10px rgb(221, 216, 216); */
    border-radius: 10px;
}

/* end of section review produk */

/* halaman produk */
#search-product {
    background-image: url('../images/cupang.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    color: white;
}

.search-title {
    font-size: 36px;
    font-weight: 600;
    margin-top: 50px;
}

.search-paragraf {
    font-size: 18px;
    font-weight: 500;
}

.primary-btn {
    background-color: var(--primary-color);
    color: var(--text-putih);
}

.icon-search {
    transform: translateY(3px);
}

.form-search {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.input-cari {
    text-align: center !important;
}

.example-search {
    font-size: 14px;
    font-weight: 500;
}

#popular-fish {
    margin-top: 50px;
}

.popular-fish-text {
    font-weight: 600;
    margin-bottom: 30px;
}

.card-title {
    font-weight: 500;
}

.card-text {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0;
}

.detail-btn {
    background-color: var(--primary-color);
    color: var(--text-putih);
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 15px; */
    border-radius: 5px;
}

.detail-btn:hover {
    color: var(--text-putih);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#popular-fish {
    margin-bottom: 30px;
}

